<!-- <ul *ngFor="let menu of Menus"> -->
<ul>
	<li *ngFor="let item of MenuList" [class.IsDisabled]="!item.IsActive" [attr.itemid]="item.ItemId"
		[attr.itemindex]="item.ItemIndex" [attr.isactive]="item.IsActive" (mouseover)="ItemMouseOver($event)"
		(mouseleave)="ItemMouseLeave($event)" (click)="ItemClick($event)">
		<span class="spanLeft"
      [class.IsDisabled]="!item.IsActive"
      [attr.itemid]="item.ItemId"
      [attr.itemindex]="item.ItemIndex"
      [attr.isactive]="item.IsActive"
      (mouseover)="ItemMouseOver($event)">
        <img *ngIf="item.ImageURL != ''" src="item.ImageURL" width="18px" height="18px"/>
      </span>
		<span class="spanRight"
      [class.IsDisabled]="!item.IsActive"
      [attr.itemid]="item.ItemId"
      [attr.itemindex]="item.ItemIndex"
      [attr.isactive]="item.IsActive"
      (mouseover)="ItemMouseOver($event)">{{item.ItemText}}</span>

      <span class="lessons-list" *ngIf="lessons else loading"></span>

		<ng-template #loading>
			<ecutek-menu [DataSource]="item.Children" [attr.itemid]="item.ItemId" [attr.itemindex]="item.ItemIndex"
				[attr.isactive]="item.IsActive" [class.hideChildren]="!item.ShowChildren"
				[class.showChildren]="item.ShowChildren">
				(OnItemClicked)="OnItemClicked($event)"
			</ecutek-menu>
		</ng-template>

	</li>
</ul>