<ul *ngFor="let menu of Menus">
  <li *ngFor="let item of menu.Items" 
    [class.IsDisabled]="!item.IsActive"
    [attr.itemid]="item.ItemId"
    [attr.isactive]="item.IsActive"
    (mouseover)="ItemMouseOver($event)"
    >
    <span class="spanLeft"></span>
    <span class="spanRight">{{item.ItemText}}</span>    
 
    <div class="submenuContents">
      <ul *ngFor="let submenu of SelectedMenuSubmenus">
        <li *ngFor="let submenuItem of submenu.Items" 
          [class.IsDisabled]="!submenuItem.IsActive"
          [attr.isactive]="submenuItem.IsActive">
          <span class="spanLeft"></span>
          <span class="spanRight">{{submenuItem.ItemText}}</span>    
        </li>
      </ul>
    </div>

  </li>
</ul>