<h2>Built-in <i>attribute</i> directives</h2>
<hr/>

<h4>NgClass</h4>
<button (click)="condition = !condition">Toggle Condition</button>
<p>Condition is : {{ condition }}</p>
<div [class.special]="condition">The class binding is special</div>

<hr/>

<h2>Routing Example</h2>
<hr/>
<!-- 
<div>
  <table>
    <thead>
      <tr>
        <th>
          <a href="#"> Hero List </a>
        </th>
        <th>
          <a href="#"> Crisis List </a>
        </th>        
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="2">

        </td>
      </tr>      
    </tbody>

  </table>
</div> -->

<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes-list" routerLinkActive="active">Heroes</a>
  <a routerLink="/hello" routerLinkActive="active">Other</a>
</nav>
<router-outlet></router-outlet>

<table>
  <tr>
    <td>
      <button (click)="DownloadFile($event)">Download File 1</button>
    </td>
  </tr>
    <tr>
    <td>
      <button (click)="DownloadFile($event)">Download File 2</button>
    </td>
  </tr>
</table>

<ecutek-menu [Name]="'menu'"
              (OnInitialisation)="OnChildRegistration($event)"
              (OnItemClicked)="OnItemClicked($event)" >
              </ecutek-menu>

<!-- <label [innerHtml]="inputVal | uppercase "></label>
<br/>
<br/>
<input [(ngModel)]="inputVal"/>
<br/>
<br/>
<button [disabled]="inputVal != 1">Type '1' to enable this button</button>
<br/>
<br/>
<div>Type red, blue or green.</div>
<ng-container *ngIf="inputVal == 'red' || inputVal == 'green' || inputVal == 'blue'">
  <p [class]="inputVal">You have typed {{ inputVal }}</p>
</ng-container>

<br/>

<div>Type "image" to see an image</div>
<ng-container *ngIf="inputVal == 'image'">
  <img [src]="'https://splashbase.s3.amazonaws.com/unsplash/regular/tumblr_mnh0n9pHJW1st5lhmo1_1280.jpg'" width="200"/>
</ng-container>

<p><span>"{{evilTitle}}" is the <i>interpolated</i> evil title.</span></p>
<p>"<span [innerHTML]="evilTitle"></span>" is the <i>property bound</i> evil title.</p> -->